<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header>
    <div class="navBar">
      <a href="/" class="logo">Movie</a>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/list">List</a></li>
          <li><a href="/Create">Create</a></li>
        </ul>
      </nav>
    </div>
  </header>